.forum-title {
    color: #424242;
    font-size:31px;
    text-align: left;
    margin-top: 0;
}

.forum-question {
    color: #202020;
    font-size: 14.5px;
    text-align: left;
    margin-bottom: 32px;
}

@media screen and (min-width: 389px) {
    .forum-title-wrapper {
        padding: 10px;
    }
    .forum-title {
        font-size: 32px;
    }
    .forum-question {
        font-size: 14px;
    }
}

@media screen and (min-width: 689px) {
    .forum-title-wrapper {
        padding: 10px;
    }
    .forum-title {
        font-size:31px;
    }
    .forum-question {
        font-size: 14.5px;
    }
}