.main-wrapper {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.main-wrapper .left {
    flex-basis: 76%;
    background-color: rgb(252, 252, 252);
}

.main-wrapper .right {
    flex-basis: 24%;
    background-color: rgb(250, 250, 250);
    border-left: 1px solid rgb(165, 165, 165);
}