.main-wrapper {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.main-wrapper .left {
    flex-basis: 76%;
    background-color: rgb(255, 255, 255);
}

.main-wrapper .right {
    flex-basis: 24%;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid rgb(238, 238, 238);
}

@media screen and (min-width: 100px) {
    .main-wrapper {
        flex-direction: column;
        padding: 10px;
    }
    
    .main-wrapper .right {
        border-left: 0;
    }
}

@media screen and (min-width: 389px) {
    .main-wrapper {
        flex-direction: column;
        padding: 10px;
    }
    
    .main-wrapper .right {
        border-left: 0;
    }
}

@media screen and (min-width: 689px) {
    .main-wrapper {
        flex-direction: row;
        padding: 10px;
    }
    
    .main-wrapper .right {
        border-left: 2px solid rgb(238, 238, 238);
    }
}