.wrapper-main-comment {
    display: flex;
}

.wrapper-main-comment img {
    width: 84px;
    height: 84px;

}

.wrapper-main-comment .desc-comment {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin: 2px 20px;
}

.wrapper-main-comment .desc-comment .commentor-name {
    color: rgb(56, 56, 56);
    font-size: 14px;
    margin: 0 0 8px 0;
}

.wrapper-main-comment .desc-comment .time-comment {
    font-size: 10px;
    margin: 0 0 8px 0;
}

.wrapper-main-comment .desc-comment .comment {
    font-size: 14px;
    margin: 0 0 8px 0;
}